---
import { client } from '../../lib/sanity'

const { slug } = Astro.params

const note = await client.fetch(`
  *[_type == "note" && slug.current == $slug][0]{
    _id,
    title,
    "slug": slug.current,
    content,
    image,
    tags
  }
`, { slug })
---

<form method="POST" action="/api/update-note">
  <input type="hidden" name="id" value={note._id} />

  <input
    name="title"
    value={note.title}
  />

  <textarea name="content">
    {note.content?.[0]?.children?.[0]?.text}
  </textarea>

  <button type="submit">
    Save
  </button>
</form>