---
import { client } from '../../lib/sanity'

const { slug } = Astro.params

const note = await client.fetch(`
  *[_type == "note" && slug.current == $slug][0]{
    _id,
    title,
    "slug": slug.current,
    content,
    image,
    tags
  }
`, { slug })
---

<form method="POST" action="/api/update-note" enctype="multipart/form-data">
<!-- admin key -->
  <input type="hidden" name="adminKey" value="blue-satellite-9273" />

  <input name="title" value={note.title} />

  <textarea name="content">
    {note.content?.[0]?.children?.[0]?.text}
  </textarea>

  <input type="file" name="image" />

  <button>Save</button>
</form>