---
import { client } from '../lib/sanity'
---

<h1>Create Note</h1>

<form method="POST" action="/api/create-note" enctype="multipart/form-data">
  <input name="title" />
  <textarea name="content"></textarea>
  <input type="file" name="image" />
  <button type="submit">Create</button>
</form>