---
import { client } from '../lib/sanity'
---

<h1>Create Note</h1>

<div class="card bg-base-200 shadow-xl p-6 max-w-md mx-auto">
  <h1 class="text-2xl font-bold">DaisyUI works 🌿</h1>
</div>

<form method="POST" action="/api/create-note" enctype="multipart/form-data">
    <input type="hidden" name="adminKey" value="blue-satellite-9273" />
  <input name="title" />
  <textarea name="content"></textarea>
  <input type="file" name="image" />
  <button type="submit">Create</button>
</form>