---
export const prerender = false
import { client } from '../lib/sanity'
import '../styles/global.css'
import GardenGraph from '../components/GardenGraph.astro'
import Create from "../components/Create.astro"

const notes = await client.fetch(`
  *[_type == "note"] | order(_createdAt desc){
    title,
    "slug": slug.current,
    coverImage,
    excerpt
  }
`)
---

<h1>Sunlight Garden</h1>
<GardenGraph notes={notes} />

<div class="grid">
  {notes.map(note => (
    <a class="card" href={`/notes/${note.slug}`}>
      <h2>{note.title}</h2>
      <p>{note.excerpt}</p>
    </a>
  ))}
</div>

<Create />