---
import Layout from '../layouts/Layout.astro';

import { client } from '../lib/sanity'
// This query is called GROQ.

// It means:

// Find every document
// where _type is note
// and return:
// - title
// - slug
const notes = await client.fetch(`
  *[_type == "note"]{
    title,
    slug
  }
`)
---

<Layout>

<h1>My Digital Garden</h1>
	<ul>
	{notes.map((note) => (
		<li>{note.title}</li>
	))}
	</ul>
</Layout>
