---
import { client } from '../lib/sanity'
import Create from './create.astro'

const notes = await client.fetch(`
  *[_type == "note"] | order(_createdAt desc){
    title,
    slug,
    image,
    excerpt
  }
`)
---

<h1>My Digital Garden</h1>

<div class="grid">
  {notes.map(note => (
    <a class="card" href={`/notes/${note.slug.current}`}>
      <h2>{note.title}</h2>
      <p>{note.excerpt}</p>
    </a>
  ))}
</div>

<Create></Create>