---
import { client } from '../lib/sanity'
import Create from './create.astro'
import GardenGraph from '../components/GardenGraph.astro'

// updated slug because d3 wants the slug string rather than the whole slug which is an object 
const notes = await client.fetch(`
  *[_type == "note"] | order(_createdAt desc){
    title,
    "slug": slug.current,
    image,
    excerpt
  }
`)
---
<!-- Header -> GardenGraph 🌱 -> Card Grid 📚 -->
<h1>Sunlight Garden</h1>

<GardenGraph notes={notes} />

<div class="grid">
  {notes.map(note => (
    <a class="card" href={`/notes/${note.slug}`}>
      <h2>{note.title}</h2>
      <p>{note.excerpt}</p>
    </a>
  ))}
</div>

<Create></Create>