---
// index.astro        → list all notes (NO slug)
import Layout from '../layouts/Layout.astro';
// This query is called GROQ.

// It means:

// Find every document
// where _type is note
// and return:
// - title
// - slug
import { client } from '../lib/sanity'

const notes = await client.fetch(`
  *[_type == "note"]{
    title,
    "slug": slug.current
  }
`)
---
<Layout>

<h1>My Digital Garden</h1>

<ul>
  {notes.map((note) => (
    <li>
      <a href={`/notes/${note.slug}`}>
        {note.title}
      </a>
    </li>
  ))}
</ul>
</Layout>
